In [1]:
import pandas as pd
import numpy as np
import os

from tqdm import tqdm, tqdm_notebook

%matplotlib inline
import matplotlib.pyplot as plt

pd.set_option('display.max_columns',100)

In [2]:
dataFolder = './reduced_paynet_data'

dataFiles = os.listdir(dataFolder)
dataFiles.remove(".DS_Store")
dataFiles = sorted(dataFiles, key = lambda x : int(x.split("_")[-1].split(".")[0] ))

### Checking IncumbentPointCount across years

In [3]:
d = pd.DataFrame()

refValues = {}

for i in tqdm(range(len(dataFiles))):
    
    fileNum = int(dataFiles[i].split("_")[-1].split(".")[0] )
    
    df = pd.read_csv(os.path.join(dataFolder, dataFiles[i]), usecols=['IncumbentPointCount','CalendarYear'])
    
    d = pd.concat([d,df], axis = 0)

100%|██████████| 29/29 [00:22<00:00,  1.27it/s]

In [4]:
d.groupby("CalendarYear")['IncumbentPointCount'].describe().T

CalendarYear,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,800165.000000,891611.000000,991692.000000,993702.000000,1.493781e+06,1.333024e+06,1.579249e+06,3.759179e+06,4.791324e+06,4.449659e+06,4.220787e+06,3.093633e+06
mean,361.928479,360.419404,367.555642,366.619065,3.597399e+02,3.597254e+02,3.407367e+02,2.217482e+02,1.914005e+02,1.829153e+02,1.769617e+02,1.872812e+02
std,260.443994,252.543427,257.397348,270.869815,2.395665e+02,2.333601e+02,2.221263e+02,1.881175e+02,1.606371e+02,1.542887e+02,1.555299e+02,1.640192e+02
min,48.000000,57.000000,49.000000,49.000000,4.700000e+01,4.300000e+01,4.900000e+01,4.900000e+01,5.800000e+01,5.800000e+01,5.800000e+01,5.800000e+01
25%,232.000000,248.000000,248.000000,248.000000,2.480000e+02,2.480000e+02,2.100000e+02,1.060000e+02,1.060000e+02,1.060000e+02,1.060000e+02,1.060000e+02
50%,342.000000,342.000000,342.000000,342.000000,3.420000e+02,3.420000e+02,2.910000e+02,1.480000e+02,1.240000e+02,1.240000e+02,1.240000e+02,1.240000e+02
75%,406.000000,404.000000,421.000000,406.000000,4.040000e+02,4.040000e+02,4.040000e+02,2.910000e+02,2.480000e+02,2.100000e+02,1.760000e+02,2.100000e+02
max,14304.000000,14304.000000,12080.000000,16310.000000,1.548800e+04,1.548800e+04,1.248000e+04,1.631000e+04,1.548800e+04,1.208000e+04,1.403000e+04,1.403000e+04

In [4]:
d = pd.DataFrame()

refValues = {}

for i in tqdm(range(len(dataFiles))):
    
    fileNum = int(dataFiles[i].split("_")[-1].split(".")[0] )
    
    df = pd.read_csv(os.path.join(dataFolder, dataFiles[i]), usecols=['Base Salary','CalendarYear'])
    
    d = pd.concat([d,df], axis = 0)

100%|██████████| 29/29 [00:23<00:00,  1.25it/s]

In [5]:
d.groupby("CalendarYear")['Base Salary'].describe().T

CalendarYear,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,8.001650e+05,8.916110e+05,9.916920e+05,9.937020e+05,1.493781e+06,1.333024e+06,1.576820e+06,3.759065e+06,4.791311e+06,4.449659e+06,4.220786e+06,3.093633e+06
mean,6.047582e+04,6.188400e+04,6.464847e+04,6.611805e+04,6.794425e+04,6.949793e+04,6.627259e+04,4.176389e+04,3.858097e+04,3.773456e+04,3.882789e+04,4.198060e+04
std,4.192564e+04,4.227680e+04,4.464136e+04,4.578533e+04,4.436060e+04,4.414084e+04,4.369462e+04,3.708607e+04,3.276321e+04,3.211005e+04,3.270950e+04,3.493740e+04
min,1.410500e+04,1.500000e+04,1.040000e+04,5.304000e+03,0.000000e+00,1.508000e+04,1.439900e+04,7.115000e+03,1.508000e+04,1.485400e+04,1.508000e+04,1.508000e+04
25%,3.692000e+04,3.800000e+04,3.818400e+04,4.000000e+04,4.043700e+04,4.197400e+04,3.914200e+04,1.924000e+04,2.080000e+04,2.184000e+04,2.288000e+04,2.333800e+04
50%,5.198400e+04,5.284000e+04,5.535000e+04,5.685600e+04,5.795000e+04,6.106900e+04,5.665900e+04,2.662400e+04,2.496000e+04,2.600000e+04,2.660300e+04,2.845400e+04
75%,7.259500e+04,7.483250e+04,7.898025e+04,8.000000e+04,8.391100e+04,8.585000e+04,8.193100e+04,5.202100e+04,4.253600e+04,3.829300e+04,3.858400e+04,4.316000e+04
max,2.800761e+06,2.243264e+06,6.047320e+06,5.700000e+06,2.850700e+06,2.850650e+06,2.870780e+06,9.426560e+06,2.202000e+06,2.517008e+06,3.400010e+06,1.816300e+06